body 
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.container
{
    height: 100vh;
    width: 100%;
}

.col-sm-12
{
    height: 100vh;
    width: 100%;
    background: url(ADMIN.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.inner-container
{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.4)0%, rgba(23,153,223,0.5)25%);
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    transition: 1s;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.hover-text
{
    color: white;
    font-size: 50px;
    line-height: 50px;
    font-family: montserrat;
    position: absolute;
    bottom: 40px;
    left: 40%;
    transform: translateX(-50%);
    transition: 1s;
}

.inner-container:hover
{
    background-position: 100% 100%;
}

.login-logo
{
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px;
}

.title-text
{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: montserrat;
}

.subtitle
{
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: arial;
}

.bg-image 
{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    height: 100vh;
}

#uname, #pword
{
    width: 50%;
  padding: 8px 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-color: lightgrey;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: arial;
}

.login
{
    width: 50%;
    padding: 8px 15px;
    margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  background-size: 200%;
  transition: 0.6s;
  font-family: montserrat;
}

.login1
{
    background-image: linear-gradient(to left, #55b8ed, #10699a);
}

.login1:hover
{
    background-position: right;
}

.smaller-text
{
    text-align: center;
    font-size: 10px;
    display: block;
    color: white;
    font-family: montserrat;
    transition: 0.3s;
}

.smaller-text:hover
{
    color: #1799df;
    text-decoration: none;
}

.admin-redirect
{
    text-align: center;
    font-size: 15px;
    display: block;
    color: white;
    font-family: montserrat;
    transition: 0.3s;
}

.admin-redirect:hover
{
    color: #1799df;
    text-decoration: none;
}